


<%= form_tag sessions_path, :method =>
:post do %>
<div class="container">
  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-danger" %>
  <% end %>
  <div >

    <div class="container-fluid">
      <div >
        <div class="card card-container"  >
          <div class="row">
            <div class="col-xs-6 col-md-6 col-sm-6">
              <%= link_to  image_tag('Logo/logo.png', :size =>
              "125x80"), :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-link logo'%>
            </div>

   

            <div class="col-xs-6 col-md-6 col-sm-6">  <img src="/assets/9-128.png" width="60%" alt="">
            </div>
          </div>

         
          <br>

          <p id="profile-name" class="profile-name-card"></p>
          <form class="form-signin">

            <%= text_field_tag :nombre_usuario, nil, class: 'form-control', :placeholder =>
            "Nombres" %>
            <br>

            <%= password_field_tag :password, nil, class: 'form-control', :placeholder =>
            "Clave" %><br>
          <!--<div id="remember" class="checkbox">
              <label>
                <%= check_box_tag :remember_me %>Recordar mis datos</label>
            </div>-->
            <%= submit_tag 'Ingresar', class: 'btn btn-lg btn-primary btn-block btn-signin' %></form>
          <!-- /form -->
          <br/>
        </div>
        <!-- /card-container --> </div>

    </div>
    <% end %>

    <style type="text/css">




.card-container.card {
    max-width: 400px;
    padding: 40px 40px;
}


/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow:2px  2px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:2px  2px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow:2px  2px 2px 2px rgba(0, 0, 0, 0.3);
}



.btn.btn-signin {
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
}







/*
 * Base structure
 */

html,
body {
/*css for full size background image*/
background-image: url('/assets/06.jpg')  ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height: 100%;
  color: #fff;
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
 
}






</style>